body {
    background-color: wheat;
}
header, main, footer {
    margin: auto;
    width: 500px;
}
main {
    padding: 10px;
    background-color: cornflowerblue;
}
footer {
    margin-top: 300px;
}
div {
    padding: 10px;
}
input[type="button"] {
    background-color: black;
    color: white;
    font-size: 1.2em;
    width: 35px;
    height: 35px;
}
input[type="text"] {
    width: 40px;
    height: 25px;
}
label {
    font-size: 1.5em;
    color: white;
}