body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 380px);
    background-image: url("pencil_paper_mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

main {
    height: 500px;
}

#to_do_items {
    height: 300px;
    overflow: auto;
}

ul {
    padding: 20px;
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    #grid-container {
        display: grid;
        justify-content: center;
        grid-gap: 5px;
        grid-template-columns: repeat(1, 380px);
        background-image: url("pencil_paper_tablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
    }
    
    main {
        height: 500px;
    }
    
    #to_do_items {
        height: 300px;
        overflow: auto;
    }
}

@media only screen and (min-width: 768px) {
    #grid-container {
        display: grid;
        justify-content: center;
        grid-gap: 5px;
        grid-template-columns: repeat(1, 380px);
        background-image: url("pencil_paper.jpg");
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
    }
    
    main {
        height: 500px;
    }
    
    #to_do_items {
        height: 300px;
        overflow: auto;
    }
}