body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/pencil_paper_mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 5px;
    grid-template-columns: repeat(1, 380px);
}
main {
    display: flex;
    min-height: 380px;
}
#main-content {
    flex: 1 1 auto;
}
header, main, footer {
    padding: 10px;
}
div {
    padding: 10px;
}
input[type="text"] {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 200px;
}
textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    resize: none;
    width: 300px;
    height: 50px;
}
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:hover {
    color:black;
    background-color: #fae18d;
    cursor: pointer;
}
.delete_btn {
    background: url("../img/trash.jpg");
    width: 22px;
    height: 26px;
    border: none;
    cursor: pointer;
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-image: url("../img/pencil_paper_tablet.jpg");
    }
    #grid-container {
        grid-template-columns: repeat(4, 130px);
    }
    header {
        grid-column: 1 / 5;
    }
    main { 
        display: flex;
        grid-column: 1 / 5;
        min-height: 400px;
    }
    footer {
        grid-column: 1 / 5;
    }
}
@media only screen and (min-width: 768px) {
    body {
        background-image: url("../img/pencil_paper.jpg");
    }
    #grid-container {
      grid-template-columns: repeat(5, 140px);
    }
    header {
      grid-column: 1 / 6;
    }
    main { 
      display: flex;
      grid-column: 1 / 6;
      min-height: 450px;
    }
    footer {
      grid-column: 1 / 6;
    }
}